<br>
<div class="row" >
  <div class="col-sm-6">
    <div class="peopleWhoAreFired" id="col1">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="peopleWhoAreFired" id="col2">
    </div>
  </div>
</div>
<br>