	<div class="subHead">
		<div class="row">
			<a href="/chemistry"><div class = "col-sm-3">Chemistry home</div></a>
			<a href="/chemistry/variables"><div class = "col-sm-3">Chemistry variables</div></a>
			<a href="/chemistry/table"><div class = "col-sm-3">Chemistry Tables</div></a>
			<a href="/chemistry/redox"><div class = "col-sm-3">Chemistry Redox Resources</div></a>
		</div>
	</div>
