<div id="jacobsStinkyFeet">
  <div class="row">
    <div class="col-sm-12">
      <h2>Websites associated with us</h2>
      <a href="http://houseofscience.nz/">House of Science</a><br>
      <a href="https://www.facebook.com/HoSRobotics/?hc_ref=ARQtG4-rXTATMu9dqwR5v5b0jy1SYoOCmuFjSbVyrl_z8ohjmIaaZBN8Tood2U4KzSk">8757 Facebook page</a><br>
      <a href="https://www.vexrobotics.com/">VEX robotics</a>
    </div>
  </div>
</div>
