<br>
	<div class="footer">
		<h3>Sources</h3>
		<a href="https://www.w3schools.com/default.asp">w3schools</a><br>
		<a href="https://devcenter.heroku.com/articles/heroku-postgresql">heroku posgresql</a><br>
		<a href="https://house-of-science-robotics-8757.herokuapp.com/">HoS Robotics</a><br>
		<a href="https://esa.co.nz/collections/study-guides/products/level-2-chemistry-study-guide?variant=896617143">Chemistry Study Guide</a><br>
		<a href="https://esa.co.nz/collections/study-guides/products/level-2-mathematics-ans-statistics-study-guide?variant=905446255">Math Study Guide</a> <br>
		<a href="https://esa.co.nz/collections/study-guides/products/level-2-physics-study-guide">Physics Study Guide</a>
		<br><br>
	</div>
	</body>
</html>
