<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Website with content in Math, Physics and Chemistry">
		<meta name="keywords" content="reference, math, physics, chemistry, resource">
		<meta name="author" content="Joe Kent">
		<title>Mechemics Resources</title>
		<link rel="stylesheet" type="text/css" href="/css/mainStyle.css">
		<script src="/js/VECscript.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
	<div class="head">
		<br>
		<h1>Machemics Resources</h1>
		<br>
		<div class="row">
			<a href="/"><div class = "col-sm-3">Home</div></a>
			<a href="/math"><div class = "col-sm-3">Math</div></a>
			<a href="/physics"><div class = "col-sm-3">Physics</div></a>
			<a href="/chemistry"><div class = "col-sm-3">Chemistry</div></a>
		</div>
	</div>
	<br>