	<div class="subHead">
		<div class="row">
			<a href="/math"><div class = "col-sm-3">Math home</div></a>
			<a href="/math/variables"><div class = "col-sm-3">Math variables</div></a>
			<a href="/math/calculator"><div class = "col-sm-3">Math calculator</div></a>
			<a href="/math/graphAngleRule"><div class = "col-sm-3">Math Graph Types and Angle Rules</div></a>
		</div>
	</div>
