	<div class="subHead">
		<div class="row">
			<a href="/physics"><div class = "col-sm-3">Physics home</div></a>
			<a href="/physics/variables"><div class = "col-sm-3">Physics variables</div></a>
			<a href="/physics/laws"><div class = "col-sm-3">Physics Laws</div></a>
			<a href="/physics/curcuits"><div class = "col-sm-3">Physics Circuit Symbols</div></a>
		</div>
	</div>
