body {
	background-image: url("/images/background.png");
}
.head {
	background-color: #99ccff;
	text-align: center;
}
.subHead {
	padding-top: -30px;
	background-color: #88bbee;
	text-align: center;
}
.footer {
	background-color: #99ccff;
	text-align: center;
}
.mainContent {
	background-color: rgba(255,255,255,0.5)
}
.microBox {
	background-color: rgba(255,255,255,0.3)
}
#graph {
	width: 400px;
	height: 400px;
}
#codeInput {
	height: 600px;
	width: 400px
}
.button {
	width: 100px;
	text-align: center;
}
#log {
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	height: 400px;
}
.calculator {
	text-align: center;
}