<% include ../partials/header.ejs %>
<% include ../partials/mathHeader.ejs %>
	<div class="mainContent">
		<div class="row">
			<div class="col-sm-6">
				<canvas id="graph"></canvas>
				<div id="log">
					<p id="console"></p>
				</div>
			</div>
			<div class="col-sm-6">
				<form>
					<textarea name="codeInput" id="codeInput"></textarea>
				</form>
				<button id="calculate" class="button">Calculate</button>
				<button id="graphCode" class="button">Graph</button>
			</div>
		</div>
	</div>
<% include ../partials/footer.ejs %>