<% include ../partials/header.ejs %>
<% include ../partials/chemistryHeader.ejs %>
<br>
	<div class="mainContent">
		<h4>Redox Resources</h4>
		<div class="row table">
			<div class="col-sm-6" id="redoxChemicals"><div class="boxHeader">Chemicals</div></div>
			<div class="col-sm-6" id="redoxColours"><div class="boxHeader">Colours</div></div>
		</div>
	</div>
<% include ../partials/footer.ejs %>