<% include ../partials/header.ejs %>
<% include ../partials/chemistryHeader.ejs %>
<br>
	<div class="mainContent">
		<div>
			<button class="button btn btn-primary" id="btnPeriodicTable">Periodic Table</button>
			<button class="button btn btn-primary" id="btnPeriodicTableIons">Periodic Table of Ions</button>
			<button class="button btn btn-primary" id="btnOrganicChemTable">Organic Chemistry Table</button>
		</div>
		<div id="PeriodicTable" class="content">
			<h4>Periodic Table</h4>
		</div>
		<div id="PeriodicTableIons" class="content">
			<h4>Periodic Table of Ions</h4>
		</div>
		<div id="OrganicChemTable" class="content">
			<h4>Organic Chemistry Table</h4>
		</div>
	</div>
<% include ../partials/VECscript.ejs %>
<% include ../partials/footer.ejs %>