<% include ../partials/header.ejs %>
<% include ../partials/physicsHeader.ejs %>
<br>
	<div class="mainContent">
		<h4>Curcuit Symbols</h4>
		<div class="row table">
			<div class="col-sm-6" id="curcuitSymbols"><div class="boxHeader">Symbols</div></div>
			<div class="col-sm-6" id="curcuitName"><div class="boxHeader">Name</div></div>
		</div>
	</div>

<% include ../partials/footer.ejs %>